
/* SYLVANAS EYES ANYMATION */

@keyframes animation-sylv {
	0% {background-image: url(/img/sylv-bottom/sylv-bottom_00000.png)}
	10%{background-image: url(/img/sylv-bottom/sylv-bottom_00001.png)}
	20%{background-image: url(/img/sylv-bottom/sylv-bottom_00002.png)}
	30%{background-image: url(/img/sylv-bottom/sylv-bottom_00003.png)}
	40%{background-image: url(/img/sylv-bottom/sylv-bottom_00004.png)}
	50%{background-image: url(/img/sylv-bottom/sylv-bottom_00005.png)}
	60%{background-image: url(/img/sylv-bottom/sylv-bottom_00006.png)}
	70%{background-image: url(/img/sylv-bottom/sylv-bottom_00007.png)}
	80%{background-image: url(/img/sylv-bottom/sylv-bottom_00008.png)}
	90%{background-image: url(/img/sylv-bottom/sylv-bottom_00009.png)}
	100%{background-image: url(/img/sylv-bottom/sylv-bottom_00010.png)}
	}





    
 /* FOG-ANIMATION    */

   /* ---------- Keyframe Layer 1 ---------- */
   @-webkit-keyframes foglayer_01_opacity {
	0% { opacity: .1; }
	22% { opacity: .5; }
	40% { opacity: .28; }
	58% { opacity: .4; }
	80% { opacity: .16; }
	100% { opacity: .1; }
  }
  @-moz-keyframes foglayer_01_opacity {
	0% { opacity: .1; }
	22% { opacity: .5; }
	40% { opacity: .28; }
	58% { opacity: .4; }
	80% { opacity: .16; }
	100% { opacity: .1; }
  }
  @-o-keyframes foglayer_01_opacity {
	0% { opacity: .1; }
	22% { opacity: .5; }
	40% { opacity: .28; }
	58% { opacity: .4; }
	80% { opacity: .16; }
	100% { opacity: .1; }
  }
  @keyframes foglayer_01_opacity {
	0% { opacity: .1; }
	22% { opacity: .5; }
	40% { opacity: .28; }
	58% { opacity: .4; }
	80% { opacity: .16; }
	100% { opacity: .1; }
  }
  /* ---------- Keyframe Layer 2 ---------- */
  @-webkit-keyframes foglayer_02_opacity {
	0% { opacity: .5; }
	25% { opacity: .2; }
	50% { opacity: .1; }
	80% { opacity: .3; }
	100% { opacity: .5; }
  }
  @-moz-keyframes foglayer_02_opacity {
	0% { opacity: .5; }
	25% { opacity: .2; }
	50% { opacity: .1; }
	80% { opacity: .3; }
	100% { opacity: .5; }
  }
  @-o-keyframes foglayer_02_opacity {
	0% { opacity: .5; }
	25% { opacity: .2; }
	50% { opacity: .1; }
	80% { opacity: .3; }
	100% { opacity: .5; }
  }
  @keyframes foglayer_02_opacity {
	0% { opacity: .5; }
	25% { opacity: .2; }
	50% { opacity: .1; }
	80% { opacity: .3; }
	100% { opacity: .5; }
  }
  /* ---------- Keyframe Layer 3 ---------- */
  @-webkit-keyframes foglayer_03_opacity {
	0% { opacity: .8 }
	27% { opacity: .2; }
	52% { opacity: .6; }
	68% { opacity: .3; }
	100% { opacity: .8; }
  }
  @-moz-keyframes foglayer_03_opacity {
	0% { opacity: .8 }
	27% { opacity: .2; }
	52% { opacity: .6; }
	68% { opacity: .3; }
	100% { opacity: .8; }
  }
  @-o-keyframes foglayer_03_opacity {
	0% { opacity: .8 }
	27% { opacity: .2; }
	52% { opacity: .6; }
	68% { opacity: .3; }
	100% { opacity: .8; }
  }
  @keyframes foglayer_03_opacity {
	0% { opacity: .8; }
	27% { opacity: .2; }
	52% { opacity: .6; }
	68% { opacity: .3; }
	100% { opacity: .8; }
  }
  /* ---------- Keyframe moveMe ---------- */
  @-webkit-keyframes foglayer_moveme {
	0% { left: 0; }
	100% { left: -100%; }
  }
  @-moz-keyframes foglayer_moveme {
	0% { left: 0; }
	100% { left: -100%; }
  }
  @-o-keyframes foglayer_moveme {
	0% { left: 0; }
	100% { left: -100%; }
  }
  @keyframes foglayer_moveme {
	0% { left: 0; }
	100% { left: -100%; }
  }
  
  @media only screen
	and (min-width: 280px)
	and (max-width: 767px) {
	  #foglayer_01 .image01, #foglayer_01 .image02,
	  #foglayer_02 .image01, #foglayer_02 .image02,
	  #foglayer_03 .image01, #foglayer_03 .image02 {
		width: 100%;
	  }
	}

